.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Most active users:
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Number of comments
      %tbody
        - @top_commenters.each_with_index do |(user, comments_count), index|
          %tr
            %td= index + 1
            %td= user
            %td= comments_count
